<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
	        <button type="button" class="navbar-toggle">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar bar1"></span>
	            <span class="icon-bar bar2"></span>
	            <span class="icon-bar bar3"></span>
	        </button>
	        <a class="navbar-brand" href="#">Members</a>
	    </div>
    </div>
</nav>

<div class="content">
	<div class="container-fluid">
	<div class="row" style="margin-top: 20px;">
		<div class="col-lg-12 col-md-12">
			<div class="card">
				<div class="row">
					<div class="col-lg-12 col-md-12" style="margin: 10px;">
						<span style="font-size: 18px;">Tips : You can check the Members of Online Shop here. </span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="alert alert-success" style="display: none">
	  <strong>Remove Success! </strong> Now reload the page...
	</div>
	<div class="alert alert-danger" style="display: none">
	  <strong>Remove Failed! </strong> Please try again.
	</div>
	<div class="row" style="margin-top: 5px;">
		<div class="col-lg-12 col-md-12">
			<div class="card">
				<div class="row">
					<div class="header">
						<h4 class="title" style= "margin: 10px; line-height: 5px;">Members</h4>
						<hr/>
					</div>
					<div class="col-lg-12 col-md-12">
                        <table class="table table-striped">
                                    <thead>
                                        <th>ID</th>
                                        <th>Username</th>
                                        <th>Email</th>
                                        <th>Gender</th>
                                        <th>Birth Date</th>
                                        <th>Status</th>
                                        <th>Join Date</th>
                                        <th>Action</th>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let member of memberList">
                                            <td>{{member.id}}</td>
                                            <td>{{member.username}}</td>
                                            <td>{{member.email}}</td>
                                            <td *ngIf="member.gender == 1">Male</td>
                                            <td *ngIf="member.gender == 0">Female</td>
                                            <td>{{member.birth_date  | date}}</td>
                                            <td *ngIf="member.active == 1">Enable</td>
                                            <td *ngIf="member.active == 0">Disable</td>
                                            <td>{{member.created_date  | date}}</td>
                                            <td>
                                                <button class="btn btn-sm btn-dan btn-icon" (click)="moveToMemberDetailById(member.id)"><i class="fa fa-pencil"></i></button>
                                                <button class="btn btn-sm btn-danger btn-icon" (click)="removemMember(member.id)"><i class="fa fa-remove"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                        </table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>